* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #312e2b;
}

nav {
    display: flex;
    height: 40px;
    background-color: rgb(24, 23, 23);
    justify-content: space-around;
    align-items: center;
}

nav h1 {
    color: whitesmoke;
}

nav li {
    list-style-type: none;
    padding: 5px;
    margin: 5px;
}

nav a {
    text-decoration: none;
    color: whitesmoke;
}

nav a:hover {
    color: #769656;
    transform: scale(1.01);
}

.bwin,
.wwin {
    text-align: center;
    margin: 5px 0;
    font-size: 20px;
    color: #769656;
    height: 23px;
    /* display: none; */
}

.bwin p,
.wwin p {
    display: none;
}

#wqueen,
#bqueen {
    display: none;
}

.box {
    width: 80px;
    height: 80px;
    text-align: center;
}

.white {
    background-color: #eeeed2;
}

.black {
    background-color: #769656;
}

img {
    height: 100%;
    width: 100%;
}

img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chessboard {
    border-radius: 10px;
    flex-direction: column;
}

@media (max-width: 500px) {
    .white,
    .black {
        width: 50px;
        height: 50px;
    }
    .chessboard {
        margin-top: 100px;
    }
}